<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9" data-ng-app="materialAdmin" data-ng-controller="materialadminCtrl as mactrl"><![endif]-->
<![if IE 9 ]>
<html data-ng-app="eegAdmin" class="login-content"><![endif]>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    

    <link href="css/jquery.jqplot.css" rel="stylesheet">

    <!-- Vendor CSS -->
    <link href="vendors/css/animate.min.css" rel="stylesheet">
    <link href="vendors/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="vendors/css/sweet-alert.css" rel="stylesheet">
    <link href="vendors/css/loading-bar.css" rel="stylesheet">
    <link href="vendors/css/jquery.mCustomScrollbar.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="vendors/css/app.min.1.css" rel="stylesheet">
    <link href="vendors/css/app.min.2.css" rel="stylesheet">
    
    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style>
    <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="js/excanvas.js"></script><![endif]-->
    
</head>
	<body class="login-content" data-ng-controller="loginCtrl as lctrl">
		<!-- Login -->
        <!-- ngIf: lctrl.login === 1 -->
        <div class="lc-block ng-scope toggled" id="l-login" data-ng-class="{ &#39;toggled&#39;: lctrl.login === 1 }" data-ng-if="lctrl.login === 1">
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Username">
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <i class="input-helper"></i>
                    Keep me signed in
                </label>
            </div>

            <a href="" ng-click="login()" class="btn btn-login btn-danger btn-float waves-effect waves-circle">
                <i class="zmdi zmdi-arrow-forward"></i>
            </a>

            <ul class="login-navigation">
                <li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.login = 0; lctrl.register = 1">Register</li>
                <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.login = 0; lctrl.forgot = 1">Forgot Password?</li>
            </ul>
        </div><!-- end ngIf: lctrl.login === 1 -->

        <!-- Register -->
        <div class="lc-block ng-scope toggled" id="l-register" data-ng-class="{ 'toggled': lctrl.register === 1 }" data-ng-if="lctrl.register === 1" style="">
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Username">   
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Email Address">
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <i class="input-helper"></i>
                    Accept the license agreement
                </label>
            </div>

            <a href="" class="btn btn-login btn-danger btn-float waves-effect waves-circle"><i class="zmdi zmdi-arrow-forward"></i></a>

            <ul class="login-navigation">
                <li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.register = 0; lctrl.login = 1">Login</li>
                <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.register = 0; lctrl.forgot = 1">Forgot Password?</li>
            </ul>
        </div>
        <!-- ngIf: lctrl.register === 1 -->

        <!-- Forgot Password -->
        <div class="lc-block ng-scope toggled" id="l-forget-password" data-ng-class="{ 'toggled': lctrl.forgot === 1 }" data-ng-if="lctrl.forgot === 1" style="">
            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Email Address">
                </div>
            </div>

            <a href="" class="btn btn-login btn-danger btn-float waves-effect waves-circle"><i class="zmdi zmdi-arrow-forward"></i></a>

            <ul class="login-navigation">
                <li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.forgot = 0; lctrl.login = 1">Login</li>
                <li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.forgot = 0; lctrl.register = 1">Register</li>
            </ul>
        </div>
        <!-- ngIf: lctrl.forgot === 1 -->

        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
        <![endif]-->

        <!-- Core -->
        <script src="vendors/js/jquery.min.js"></script>
    
        <!-- jqplot -->
        <script type="text/javascript" src="js/chart/data.js"></script>
        <script type="text/javascript" src="js/chart/jquery.jqplot.js"></script>
        <script type="text/javascript" src="js/chart/jqplot.cursor.js"></script>

        <!-- Angular -->
        <script src="vendors/js/angular.min.js"></script>
        <script src="vendors/js/angular-animate.min.js"></script>
        <script src="vendors/js/angular-resource.min.js"></script>
        
        <!-- Angular Modules -->
        <script src="vendors/js/angular-ui-router.min.js"></script>
        <script src="vendors/js/loading-bar.js"></script>
        <script src="vendors/js/ocLazyLoad.min.js"></script>
        <script src="vendors/js/ui-bootstrap-tpls.min.js"></script>

        <!-- Common Vendors -->
        
        <script src="vendors/js/waves.min.js"></script>
        <script src="vendors/js/nouislider.min.js"></script>
        <script src="vendors/js/bootstrap-growl.min.js"></script>
        <script src="vendors/js/ng-table.min.js"></script>

        
        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->

        <!-- App level -->
        <script src="js/app.js"></script>
        <script src="js/config.js"></script>
        <script src="js/controllers/main.js"></script>
        <script src="js/services.js"></script>
        <script src="js/templates.js"></script>
        <script src="js/controllers/ui-bootstrap.js"></script>
        <script src="js/controllers/table.js"></script>


        <!-- Template Modules -->
        <script src="js/modules/template.js"></script>
        <script src="js/modules/ui.js"></script>
        <script src="js/modules/form.js"></script>
 
	</body>
</html>